
<form action="/payment/results">
  <div>
    <label for="apr">APR</label>
    <input id="apr" type="text" placeholder="E.g. 5.42" name="apr">
  </div>
  <div>
    <label for="year">Number of years</label>
    <input id="year" type="text" placeholder="How many years to repay?" name="year">
  </div>
  <div>
    <label for="principal">Principal</label>
    <input id="principal" type="text" placeholder="How much principal?" name="principal">
  </div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>