
<form action="/square_root/results">
  <label for="identifier">Enter a number</label>
  <input id="identifier" type="text" placeholder="What number do you want to take the square root of?" name="number">
  <div>
    <button>Calculate square root</button>
  </div>
</form>